<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block navigation %}Tohle je horní blok. Vychází z base templatu. Je všude.{% endblock %}

    {% block body %}THIS IS BODY{% endblock %}

    {% block footer %}THIS IS FOOTER. Vyrobeno v dubnu.{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
